@font-face {
    font-family: Montserrat;
    src: url(../ASSETS/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-top: 2px solid white;
    margin-top: 40px;
}

.footer-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.footer-list li {
    display: inline-block; 
    margin-right: 50px; 
}

header {
    background-color: 13141A;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #f4f4f4 ;
}
body {
    background-color: #13141A;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.content { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

h1 {
    color: white;
}

.logo-header {
    height: 70px;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    transition: right 0.3s ease;
}
  
.sidebar.open {
    right: 0;
}
  
.sidebar button {
    display: block;
    margin: 10px;
}

.features {
    display: flex;
    flex-direction: column;
    width: 700px;
    color: white;
}

.card-feature {
    margin-top: 20px;
}

.menu-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
}

.tab {
    border-radius: 20px 20px 0px 0px;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}


.tab.green {
    border: 2px solid #17C69B;
    border-bottom: 0px solid;
}

.tab.green:hover {
    background-color:  #17C69B;
}

.tab.yellow {
    border: 2px solid #FDA543;
    border-bottom: 0px solid;
}

.tab.yellow:hover {
    background-color:  #FDA543;
}

.tab.red {
    border: 2px solid #FB3640;
    border-bottom: 0px solid;
}

.tab.red:hover {
    background-color: #FB3640;
}

.tab.rose {
    border: 2px solid #FA2F75;
    border-bottom: 0px solid;
}

.tab.rose:hover {
    background-color: #FA2F75;
}

.content-feature {
    border-radius: 0px 0px 10px 10px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
    
}

.about {
    display: flex;
    flex-direction: column;
    width: 700px;
    color: white;
}

.container-about {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


.about-logo-img {
    height: 100px;
    border: 2px solid #17C69B;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.349);
}

.about-text {
    margin-left: 25px;
}

.games {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-games {
    display: flex;
    flex-direction: column;
    width: 302px;
    background-color: #13141A;
    border: 2px solid #FDA543;
    color: white;
    border-radius: 20px;
}

.card-games-img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 10px;
}

.card-games p {
    padding: 20px;
}

.container-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define três colunas de larguras iguais */
    grid-gap: 10px;
}

.profile {
    width: 700px;
    display: flex;
    flex-direction: column;
    color: white;
}

.container-profile {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
}

.profile-img {
    border-radius: 75px;
}

.card-profile {
    width: 60%;
    border-radius: 15px;
    border: 2px solid #FB3640 ;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-profile-text {
    margin-top: 25px;
}

.profile-text {
    width: 30%;
}

.ranking {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.table-ranking {
    margin-top: 20px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border: 3px solid #17C69B;
}

.table-ranking th {
    background-color: #17C69B;
    border:none;
    text-align: center;
    padding: 5px;
}

.table-ranking td {
    text-align: center;
    padding: 5px;
}

.table-ranking tr {
    transition: height 4s;
}

.table-ranking tbody > tr:hover {
    background-color: #15a883;
    cursor: pointer;
    height: 50px;
}

.version {
    width: 700px;
}

.container-version {
    margin-top: 20px;
    width: 100%;
    border: 3px solid #FA2F75;
    border-radius: 10px;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.version-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}